<div [@routerTransition]>

    <ngb-alert type="warning" *ngIf="!passclosed" (close)="passClose()">Your password did not match, please try again.</ngb-alert>
    <ngb-alert type="success" *ngIf="restored" (close)="passClose()">You have successfully changed your password! Thank you!</ngb-alert>
    <ngb-alert *ngIf="passwordLenghtError" type="warning" (close)="passClose()">Password must be at least 6 characters long, try again.</ngb-alert>
    <!-- <ngb-alert type="warning" *ngIf="!serverError" (close)="passClose()">There was a problem updating your password. Please try again. If the problem persists, please contact an administrator</ngb-alert> -->
    <ngb-alert type="warning" *ngIf="userNotFound" (close)="passClose()">This Link was already used to update password. Please request a new Link to Reset the Password.</ngb-alert>

    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <br />

            <h1>Vocabulary in Reading Study</h1>
            <br />
            <br />
            <form>
                <div class="form-content">
                    <div class="form-group">
                        <input type="password" [(ngModel)]="newpassW" class="form-control input-underline input-lg" id="newpassW" name="newpassW"
                            placeholder="Choose Password" required />
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="copynewpassW" class="form-control input-underline input-lg" id="copynewpassW" name="copynewpassW"
                            placeholder="Confirm Password" required />
                    </div>
                </div>
            </form>
            <br />
            <br />
            <button class="btn btn-primary btn-block" type="submit" (click)="changeUserPassword(content)"> Register Password </button>
            &nbsp;

        </div>
    </div>


    <!--This is the modal for register warning-->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4>
                Error
                <i class="fa fa-fw fa-exclamation"></i>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!--Alert-->
            <div *ngIf="show">
                Please choose another user name, the one you chose is taken...
            </div>
            <div>
                <strong>Sorry! </strong>
            </div>
        </div>
    </ng-template>
</div>
<br>
<br>