.oneLine{
    display: inline;
    list-style-type: none;
}

.equalLength{
      text-align: justify;
}

.hi {
    //color: bright yellow
    color: rgb(207, 207, 0);
}

.med {
    //color: magenta
    color: rgb(234, 0, 255);
}

.low {
    color: pink;
}

.awl {
    //color: dark gold/orange
    color: #b38902;
}

.stem {
    //color: bright green
    color: rgb(6, 240, 130);
}

.K1 {
  //color: light blue
  color: rgb(115, 115, 241);
}

.K2 {
  //color: dark green
  color: rgb(37, 121, 37);
}

.K3 {
  color: red;
}

////////////////////////

.box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.hiBox {
  //color: bright yellow
  background: rgb(207, 207, 0);
}

.medBox {
  //color: magenta
  background: rgb(234, 0, 255);
}

.lowBox {
  background: pink;
}

.awlBox {
  //color: dark gold/orange
  background: #b38902;
}

.offBox {
  background: black;
}

.stemBox{
    //color: bright green
    background:rgb(6, 240, 130);
}

.K1Box {
  //color = light blue
  background:rgb(115, 115, 241);
}

.K2Box {
  //color: dark green
  background:rgb(37, 121, 37);
}

.K3Box {
  background:red;
}

.enhancedTextbox{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}



a {
  color: inherit;
}

a.disabled {
  pointer-events: none;

}

.solid {
  border-style: solid;
  border-color: black;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .margin-responsive {
      margin-bottom: 70px;
  }
}

@media screen and (max-width: 1300px) {
  .font-responsive {
       font-size: 0.8rem;
  }
}

@media screen and (max-width: 1199px) {
  .font-responsive {
       font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .font-responsive {
       font-size: 0.8rem;
  }
}
