$topnav-background-color: #3d3d3d;
.sidebar{
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 72px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0px;
    overflow-x: hidden;
    //padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
    .list-group{
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #e0e0e0;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a:hover {
            background: darken($topnav-background-color, 5%);
            color: #e0e0e0;
        }
        a.router-link-active {
            background: darken($topnav-background-color, 5%);
            color: #e0e0e0;
        }
        button.list-group-item{
            background: $topnav-background-color;
            outline: 0;
            border: 0;
            border-radius: 0;
            color: #e0e0e0;
            text-decoration: none;

            .fa {
                margin-right: 10px;
            }
        }
        button:hover{
            background: darken($topnav-background-color, 5%);
            color: #e0e0e0;
            cursor: pointer;
        }

    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border:none;
        }
        .panel-title {
            font-size : 1rem;
            height : 50px;
            margin-bottom:0;
            a {
                color : #e0e0e0;
                text-decoration : none;
                font-weight:400;
                background:$topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: .75rem 1.5rem;
                    padding-top:1rem;
                }
            }
            a:hover,a:focus {
                color: #e0e0e0;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radius :0;
            border : none;
            .panel-body {
                .list-group-item {
                    border-radius : 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color:#e0e0e0;
                    }
                    a:hover {
                        color:#e0e0e0;
                    }
                }
                .list-group-item:hover {
                    background : darken($topnav-background-color, 5%);
                }
            }
        }
    }
}
.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #e0e0e0;
                    padding: 10px;
                    display: block;
                }
                a:hover {
                    color: #FFF;
                }
            }
        }
    }
}

form {
    width: 300px;
    margin: 0 auto;
}
@media screen and (max-width: 992px) {
    .sidebar {
        top: 74px;
        left: 0px;
    }
}
