.footer {
  //padding-left: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  //height: auto;
    margin-top: 20px;
    padding: 10px;
  //line-height: 50px; /* Vertically center the text there */
  background-color: #e0e0e0;
  font-size: .9em;
}

 a:visited {
     text-decoration: none;
     }
 a:hover {
     text-decoration: none !important;
     color: #3d3d3d !important;
     }

.copyright{
    color: #3d3d3d !important;
}

.lg-view{
    display:block;
 }

 .sm-view{
    display:none;
 }
/*
@media screen and (max-width: 992px) {
    .footer {
        padding-left: 0px;
    }
}
*/
@media screen and (max-width: 575px) {
    /*.footer {
        margin-top: 100px;
        padding-left: 0px;
        text-align: center;
    }
    */
    .lg-view{
        display:none;
     }

     .sm-view{
        display:block;
     }
}

