<div class="container-fluid" style="text-align:justify">
  <div class="card">
    <div class="card-header card-primary card-inverse bg-info">
      <i class="fa fa-fw fa-quote-right fa-2x float-right"></i>References&nbsp;&nbsp;
    </div>
    <div class="card-block bg-white">
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Baddeley, A. (1990). Human Memory. London: Lawrence Erlbaum Associates.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Begeny, J. C. and Greene, D. J. (2014), CAN READABILITY FORMULAS BE USED TO SUCCESSFULLY GAUGE DIFFICULTY OF READING MATERIALS?.
          Psychol. Schs., 51: 198–215.
          <a href="http://onlinelibrary.wiley.com/doi/10.1002/pits.21740/full" target="_blank">doi:10.1002/pits.21740</a>
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Cobb, T. (2017). LEXTUTOR (1998-2017),
          <a href="http://www.lextutor.ca/" target="_blank" >
            http://www.lextutor.ca/.</a>
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Coxhead, A. (2000). A new academic word list. TESOL Quarterly, 34: 213–38.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Dwyer, E., Ehsanzadeh, S.J., Grigorescu, C. (submitted for publication). Academic Vocabulary
          in Primary and Secondary Content Area Textbooks. Journal of English for Academic Purposes. Manuscript is submitted for publication.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          https://en.wikibooks.org/wiki/Wikibooks:Reading_Levels
        </cite>
      </p>

      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Dwyer, E., & Ehsanzadeh, S.J. (September 2016). The Teachers’ U.S. Corpus (TUSC). Paper presented at International Vocab@Tokyo Vocabulary Conference, Meiji Gakuin University, Tokyo, Japan.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Dwyer, E., Ehsanzadeh, S.J. (May 2016). Academic Language in K-12 Context. Paper presented at Sunshine State TESOL Conference, West Palm Beach, Florida.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Dwyer, E., & Ehsanzadeh, S.J. (presented 2016, October). Academic Vocabulary: Then and Now, 12th Annual MDTESOL/ Bilingual Education Association Fall Symposium 2016. Symposium conducted at MDC InterAmerican, Miami-Dade College, Miami, Florida.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Ehsanzadeh, S.J. (2012). Depth versus Breadth of Lexical Repertoire: Assessing their Role in
          EFL Students’ Incidental Vocabulary Acquisition. TESL Canada Journal/ Revue TESL du Canada. 29 (2), 24-41.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Ehsanzadeh, S.J., & Dwyer, E. (March 2018). The Science and Math Academic
          Corpus for Kids (SMACK). Paper presented at Annual TESOL International Convention and English Language Expo, TESOL International Association. Chicago, Illinois.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Ehsanzadeh, S.J., & Dwyer, E. (March 2017). Teachers’ U.S. Corpus: A New Perspective. Paper presented at Annual TESOL International Convention and English Language Expo, TESOL International Association, Seattle, Washington.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Ehsanzadeh, S.J., & Dwyer, E. (October 2016). A new Academic Word List for K-12 Context.   Paper presented at Annual Southeast TESOL Regional Conference (SETESOL), Louisville, Kentucky.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Ehsanzadeh, S.J., Dwyer, E., & Carter, D. (October 2015). Situated Language of Mathematics.  Paper presented at Annual Southeast TESOL Regional Conference (SETESOL) and K-12 Dream Day, University of New Orleans, New Orleans, Louisiana.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Flesch, Rudolf. “How to Write Plain English.” Guide to Academic Writing Article - Management - University of Canterbury -
          New Zealand, <a href="http://www.mang.canterbury.ac.nz/writing_guide/writing/flesch.shtml" target="_blank" id='permalink_section' >www.mang.canterbury.ac.nz/writing_guide/writing/flesch.shtml.</a>
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Gardner, D., & Davies, M. (2013). A New Academic Vocabulary List. Applied Linguistics, 35/3:
          305–327.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Laufer, B. (2003). Vocabulary acquisition in a second Language: Do learners really acquire most
          vocabulary by reading? Some empirical evidence. Canadian Modern Language Review (59)4: 567-587.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Nation, P. (2013). Learning Vocabulary in Another Language. Cambridge: Cambridge
          University Press.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Schunk, D. H. (2012). Learning Theories: An Educational Perspective. Pearson Education, Inc.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Tognini-Bonelli, E. & Elena, D. (2001). Corpus linguistics at work: Studies in corpus linguistics.
          Amsterdam: John Benjamins.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          West, M. (1953). A general service list of English words. London: Longman, Green.
        </cite>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid" style="text-align:justify">
  <div class="card">
    <div class="card-header card-primary card-inverse bg-success">
      <i class="fa fa-fw fa-cogs fa-2x float-right"></i>Technology&nbsp;&nbsp;
    </div>
    <div class="card-block bg-white">
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          “Tesseract-Ocr/Tesseract.” GitHub, 10 Nov. 2017,
          <a href="https://github.com/tesseract-ocr/tesseract" target="_blank" id='permalink_section'>github.com/tesseract-ocr/tesseract</a>.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          “OpenCV library.” OpenCV library,
          <a href="https://opencv.org/" target="_blank">opencv.org/</a>.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          R. Guo, Q. Dai and D. Hoiem, "Single-image shadow detection and removal using paired regions," CVPR 2011, Providence, RI,
          2011, pp. 2033-2040. doi: 10.1109/CVPR.2011.5995725 URL:
          <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5995725&isnumber=5995307" target="_blank" id='permalink_section'>'http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5995725&isnumber=5995307'</a>
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          Zucker, Matt. “Page dewarping.” Needlessly complex, 14 Aug. 2016,
          <a href="https://mzucker.github.io/2016/08/15/page-dewarping.html" target="_blank" id='permalink_section'>mzucker.github.io/2016/08/15/page-dewarping.html</a>.
        </cite>
      </p>
      <p class="hangingindent">
        <cite>
          <span>&#8226;</span>
          “Wiktionary” Wiktionary, the free dictionary,
          <a href="https://en.wiktionary.org/wiki/Wiktionary:Main_Page" target="_blank" id='permalink_section'>en.wiktionary.org/wiki/Wiktionary:Main_Page</a>.
        </cite>
      </p>
    </div>
  </div>
</div>
