<!-- Buttons - Visible only on desktops-->
<div class="container bottomMarging">
<div>Categories Descriptions: </div>
  <div class="btn-group hidden-sm-down">
    <button type="button" class="btn K1Button"   ngbTooltip= "{{popUpCategory('K1')}}  " placement = "bottom">K1</button>
    <button type="button" class="btn K2Button"   ngbTooltip= "{{popUpCategory('K2')}}  " placement = "bottom">K2</button>
    <button type="button" class="btn K3Button"   ngbTooltip= "{{popUpCategory('K3')}}  " placement = "bottom">K3</button>
    <button type="button" class="btn hiButton"   ngbTooltip= "{{popUpCategory('hi')}}  " placement = "bottom">Other High Frequency</button>
    <button type="button" class="btn medButton"  ngbTooltip= "{{popUpCategory('med')}} " placement = "bottom">Medium Frequency</button>
    <button type="button" class="btn lowButton"  ngbTooltip= "{{popUpCategory('low')}} " placement = "bottom">Low Frequency</button>
    <button type="button" class="btn awlButton"  ngbTooltip= "{{popUpCategory('awl')}} " placement = "bottom">Academic</button>
    <button type="button" class="btn stemButton" ngbTooltip= "{{popUpCategory('stem')}}" placement = "bottom">STEM</button>
    <button type="button" class="btn bawButton"  ngbTooltip= "{{popUpCategory('baw')}} " placement = "bottom">Basic Academic</button>
  </div>
</div>

<!-- Buttons - Visible only on cellphones-->
<div class="container bottomMarging">
  <div class="btn-group d-md-none" style="width: 100%;">
      <button type="button" class="btn btn-primary" (click)="updateCategory('k1')">K1</button>
      <button type="button" class="btn K2Button" (click)="updateCategory('k2')">K2</button>
  <button type="button" class="btn btn-warning" (click)="updateCategory('k3')">K3</button>
  </div>

  <div class="btn-group d-md-none" style="width: 100%;">

      <button type="button" class="btn btn-danger" (click)="updateCategory('baw')">Basic Academic Words</button>
  </div>
</div>

<!--
<div class="container">
  <div class="d-none d-md-block" >
      <button type="button" class="btn btn-warning btn-block" (click)="updateCategory('baw')">Basic Academic Words</button>
      <button type="button" class="btn btn-danger btn-block" (click)="updateCategory('baw')">Basic Academic Words</button>
  </div>
</div>
-->
<hr />

<!--Top page note : style="background-color: #e6e6e6; border-radius: 15px; min-height: 25px;"-->

<div class ="dark-mode">
  <p style="text-align: center;font-size: 0.9rem; ">
    <strong>Each K contains 1,000 words ordered in terms of frequency. Click ALL on the top of the list prior to downloading the word list.</strong>
  </p>
</div>

<!--Alert-->
<div class="alert alert-danger" role="alert" *ngIf='errorSearch'>
  <strong>{{alertWord}} </strong> doesn't exist in data base.
</div>

<!--Search, Filters-->
<div class="form-group row m-1 p-1">
  <div class="col col-md-8 col-xl-4">
      <input class="form-control" type="search" name="searchArea" [(ngModel)]="searchArea" id="example-search-input" placeholder="Word.." (keydown.enter)="searchWord();">
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button class="btn light-mode mr-1 mt-2" (click)="searchWord();" [disabled]="!searchArea" required> Search </button>
      </div>
      <!--div class="btn-group mr-2" role="group" aria-label="Second group">
          <button class= "btn light-mode m-1 mt-2" placement="bottom" ngbTooltip="Text Copied!" triggers="click:blur" (click)="copyMessage('Ehsanzadeh, S.J. & Dwyer, E. (2017). A Corpus-based K-12 School Dictionary.')" value="click to copy"> Cite Us </button>
      </div-->
      <div class="btn-group me-3">
        <div class="btn light-mode mt-2 filter">Filters: </div>
        <div class="btn-group" ngbDropdown autoClose = false role="group" id="dropdownConfig" aria-label="Button group with nested dropdown"  #Category="ngbDropdown">
            <button type="button" class="btn light-mode mt-2 category" ngbDropdownToggle ngbDropdownAnchor (click)="Grade.close();"> Category: {{wordCategory}}</button>
            <div ngbDropdownMenu >
                
                <button class="dropdown-item" (click)="updateCategory('k1'  );   ">K1{{checkCatStatus('k1')}}</button>
                <button class="dropdown-item" (click)="updateCategory('k2'  );   ">K2{{checkCatStatus('k2')}}</button>
                <button class="dropdown-item" (click)="updateCategory('k3'  );   ">K3{{checkCatStatus('k3')}}</button>
                <button class="dropdown-item" (click)="updateCategory('hi'  );   ">Other High Frequency{{checkCatStatus('hi')}}</button>
                <button class="dropdown-item" (click)="updateCategory('med' );  ">Medium Frequency{{checkCatStatus('med')}}</button>
                <button class="dropdown-item" (click)="updateCategory('low' );  ">Low Frequency{{checkCatStatus('low')}}</button>
                <button class="dropdown-item" (click)="updateCategory('awl' );  ">Academic{{checkCatStatus('awl')}}</button>
                <button class="dropdown-item" (click)="updateCategory('stem'); ">STEM{{checkCatStatus('stem')}}</button>
                <button class="dropdown-item" (click)="updateCategory('baw' );  ">Basic Academic{{checkCatStatus('baw')}}</button>
            </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" id="dropdownConfig" aria-label="Button group with nested dropdown" autoClose = false #Grade="ngbDropdown">
            <button type="button" class="btn light-mode mr-2 mt-2 grade" ngbDropdownToggle (click)="Category.close();">Grade</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item">Kindergarten</button>
                <button class="dropdown-item">1</button>
                <button class="dropdown-item">2</button>
                <button class="dropdown-item">3</button>
                <button class="dropdown-item">4</button>
                <button class="dropdown-item">5</button>
                <button class="dropdown-item">6</button>
                <button class="dropdown-item">7</button>
                <button class="dropdown-item">8</button>
                <button class="dropdown-item">9</button>
                <button class="dropdown-item">10</button>
                <button class="dropdown-item">11</button>
                <button class="dropdown-item">12</button>

            </div>
        </div>
    </div>
    
        
      
      <div class="btn-group ml-1" role="group" aria-label="Third group">
          <button class="btn light-mode mr-1 mt-2" (click)="exportexcel();" value="Click to Download" placement="bottom" ngbTooltip="Click ALL below before downloading"> Download List </button>
      </div>
  </div>
</div>



<!--Table - shows the search result-->
<div class="container-fluid">


<div class='table-responsive'>
  <table class='table table-hover'>
      <!--
      <thead class="dark-mode">
          <tr class="table-active">
              <th scope="col">Word</th>
              <th scope="col">Category</th>
          </tr>
      </thead>
      -->
      <tbody id= "table-body">
          <tr *ngIf='showTable && !error' class="table-success"  scope="row">
              <td (click)="getDefinition(word.value); open(content);">
                  <a href="javascript:void(0)">{{ word.value}}</a>
              </td>
              <td>{{resultCategory}}</td>
          </tr>
      </tbody>
  </table>
</div>
</div>

<!--Definition model (Popup)-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">
          <img src="assets/images/Wikipedia-logo.png" title="Wikipedia Dictionary" style="width:50px;height:50px;"> Definition &nbsp;&nbsp;
          <i class="fa fa-spinner fa-spin" style="font-size:32px;color:black" *ngIf='processing'></i>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <!--Alert-->
      <div class="alert alert-warning" role="alert" *ngIf='error'>
          <strong>Oh snap!</strong> We couldn't find the definition, please try another word.
      </div>
      <!--Definition-->
      <p *ngIf='!error && !processing' class="card-text" [innerHTML]="wordDefinition.wiki.html"></p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<!--Table-->
<div class='table-responsive table-hover table-striped' *ngIf='turnOn'>
     <!--Pagination-->
    <div [ngSwitch]="activeCategory" class="pageCount">
        <div *ngSwitchCase="'k1'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="k1page" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getK1WordList(k1page)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'k2'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="k2page" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getK2WordList(k2page)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'k3'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="k3page" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getK3WordList(k3page)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'baw'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="bawpage" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getBAWWordList(bawpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'awl'">
          <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="awlpage" [maxSize]="4" [rotate]="true"
                          [ellipses]="false" (pageChange)="getBAWWordList(awlpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'stem'">
          <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="stempage" [maxSize]="4" [rotate]="true"
                          [ellipses]="false" (pageChange)="getBAWWordList(stempage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'hi'">
          <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="hipage" [maxSize]="4" [rotate]="true"
                          [ellipses]="false" (pageChange)="getBAWWordList(hipage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'med'">
          <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="medpage" [maxSize]="4" [rotate]="true"
                          [ellipses]="false" (pageChange)="getBAWWordList(medpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'low'">
          <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="lowpage" [maxSize]="4" [rotate]="true"
                          [ellipses]="false" (pageChange)="getBAWWordList(lowpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
  
        
          <p>
              <strong>page: {{page.number + 1}} / {{page.totalPages}}</strong>
          </p>

          <!--Page Size-->
      <div class="btn-group btn-lg ml-5" id = "pgSize" ngbRadioGroup name="radioBasic" [(ngModel)]="tableSize">
        <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="20" (click)="getWordList(0, activeCategory, 20, sort);resetPagination()"> 20
        </label>
        <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="60" (click)="getWordList(0, activeCategory, 60, sort);resetPagination()"> 60
        </label>
        <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="6000" (click)="getWordList(0, activeCategory, 6000, sort);resetPagination()"> ALL
        </label>
    </div>



    <!--Sorting-->
    <div class="btn-group btn-lg" id ="ASC" ngbRadioGroup name="radioBasic" [(ngModel)]="sorting">
        <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="ASC" (click)="getWordList(0, activeCategory, tableSize, 'ASC' );resetPagination()"> ASC
        </label>
        <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="DESC" (click)="getWordList(0, activeCategory, tableSize, 'DESC');resetPagination()"> DESC
        </label>
    </div>
      
    </div>
    
  <table class='table table-hover' id="excel-table">
      <thead>
          <tr>
              <th>Word</th>
              <th>Category</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let word of page.content'>
              <td (click)="getDefinition(word.value); open(content);">
                  <a href="javascript:void(0)">{{ word.value}}</a>
              </td>
              <td>{{wordCategory}}</td>
          </tr>
      </tbody>
  </table>
 
  <!--Pagination-->
  <div [ngSwitch]="activeCategory" class="pageCount">
    <div *ngSwitchCase="'k1'">
        <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="k1page" [maxSize]="4" [rotate]="true"
                        [ellipses]="false" (pageChange)="getK1WordList(k1page)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'k2'">
        <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="k2page" [maxSize]="4" [rotate]="true"
                        [ellipses]="false" (pageChange)="getK2WordList(k2page)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'k3'">
        <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="k3page" [maxSize]="4" [rotate]="true"
                        [ellipses]="false" (pageChange)="getK3WordList(k3page)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'baw'">
        <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="bawpage" [maxSize]="4" [rotate]="true"
                        [ellipses]="false" (pageChange)="getBAWWordList(bawpage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'awl'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="awlpage" [maxSize]="4" [rotate]="true"
                      [ellipses]="false" (pageChange)="getBAWWordList(awlpage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'stem'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="stempage" [maxSize]="4" [rotate]="true"
                      [ellipses]="false" (pageChange)="getBAWWordList(stempage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'hi'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="hipage" [maxSize]="4" [rotate]="true"
                      [ellipses]="false" (pageChange)="getBAWWordList(hipage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'med'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="medpage" [maxSize]="4" [rotate]="true"
                      [ellipses]="false" (pageChange)="getBAWWordList(medpage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'low'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="lowpage" [maxSize]="4" [rotate]="true"
                      [ellipses]="false" (pageChange)="getBAWWordList(lowpage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    </div>
  
</div>




