h2{
    text-align: center;
}

.button1 {
    background-color: royalblue;
    color: white;
}

.box1 {
    background-color: #FF7919;
    min-height: 150px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    text-align: left;
    padding-top: 35px;
    border-radius: 8px;
}

.box2 {
    background-color: #74D941;
    min-height: 150px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    text-align: left;
    padding-top: 35px;
    border-radius: 8px;
}

.box3 {
    background-color: #3D99F5;
    min-height: 150px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    text-align: left;
    padding-top: 35px;
    border-radius: 8px;
}

.head {
    text-align: center;
}
