<!-- Buttons - Visible only on desktops-->
<div class="container bottomMarging">
    <div class="btn-group hidden-sm-down">
      <!--  <button type="button" class="btn btn-primary" (click)="updateCategory('awl')">Academic Words</button>
        <button type="button" class="btn purpleButton" (click)="updateCategory('stem')">STEM Words</button> -->
        <button type="button" class="btn btn-danger" (click)="updateCategory('hi')">High Frequency</button>
        <button type="button" class="btn btn-success" (click)="updateCategory('med')">Medium Frequency</button>
        <button type="button" class="btn btn-warning" (click)="updateCategory('low')">Low Frequency</button>
    </div>
</div>

<!-- Buttons - Visible only on cellphones
<div class="container bottomMarging">
    <div class="btn-group hidden-md-up" style="width: 200%;">
        <button type="button" class="btn btn-primary" (click)="updateCategory('awl')">Academic Words</button>
        <button type="button" class="btn purpleButton" (click)="updateCategory('stem')">STEM Words</button>

    </div>
</div> -->

<div class="container bottomMarging">
    <div class="btn-group hidden-md-up" style="width: 100%;">
        <button type="button" class="btn btn-danger" (click)="updateCategory('hi')">High Frequency</button>
    </div>
    <div class="btn-group hidden-md-up" style="width: 100%;">
        <button type="button" class="btn btn-success" (click)="updateCategory('med')">Medium Frequency</button>
    </div>
    <div class="btn-group hidden-md-up" style="width: 100%;">
        <button type="button" class="btn btn-warning btn-block" (click)="updateCategory('low')">Low Frequency</button>
    </div>
</div>

<hr />


<div class ="dark-mode">
    <p style="text-align: center;font-size: 0.9rem; ">
        <strong>Click ALL on the bottom of the page prior to downloading the word list.</strong>
    </p>
</div>
<!--Alert-->
<div class="alert alert-danger" role="alert" *ngIf='errorSearch'>
    <strong>{{alertWord}} </strong> doesn't exist in data base.
</div>

<!--Search-->
<div class="form-group row m-1 p-1">
    <div class="col col-md-8 col-xl-4">
        <input class="form-control" type="search" name="searchArea" [(ngModel)]="searchArea" id="example-search-input" placeholder="Word..">
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn light-mode m-1 mt-2" (click)="searchWord();" [disabled]="!searchArea" required> Search </button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button class= "btn light-mode m-1 mt-2" placement="bottom" ngbTooltip="Text Copied!" triggers="click:blur" (click)="copyMessage('Ehsanzadeh, S.J. & Dwyer, E. (2017). A Corpus-based K-12 School Dictionary.')" value="click to copy"> Cite Us </button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button class="btn light-mode m-1 mt-2" (click)="exportexcel();" value="Click to Download" placement="right" ngbTooltip="Click ALL below before downloading"> Download List </button>
        </div>
    </div>
</div>

<!--Table - shows the search result-->
<div class='table-responsive table-hover table-striped'>
    <table class='table table-hover' id="excel-table">
        <!--
        <thead>
            <tr class="table-active">
                <th>Word</th>
                <th>Category</th>

            </tr>
        </thead>
        -->
        <tbody>
            <tr *ngIf='showTable && !error' class="table-success">
                <td (click)="getDefinition(word.value); open(content);">
                    <a href="javascript:void(0)">{{ word.value}}</a>
                </td>
                <td>{{resultCategory}}</td>
            </tr>
        </tbody>
    </table>
</div>


<!--Definition model (Popup)-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <img src="assets/images/Wikipedia-logo.png" title="Wikipedia Dictionary" style="width:50px;height:50px;"> Definition &nbsp;&nbsp;
            <i class="fa fa-spinner fa-spin" style="font-size:32px;color:black" *ngIf='processing'></i>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!--Alert-->
        <div class="alert alert-warning" role="alert" *ngIf='error'>
            <strong>Oh snap!</strong> We couldn't find the definition, please try another word.
        </div>
        <!--Definition-->
        <p *ngIf='!error && !processing' class="card-text" [innerHTML]="wordDefinition.wiki.html"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<!--Table-->
<div class='table-responsive table-hover table-striped' *ngIf='turnOn'>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Word</th>
                <th>Category</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let word of page.content'>
                <td (click)="getDefinition(word.value); open(content);">
                    <a href="javascript:void(0)">{{ word.value}}</a>
                </td>
                <td>{{wordCategory}}</td>
            </tr>
        </tbody>
    </table>

    <!--Pagination-->
    <div [ngSwitch]="activeCategory">
        <div *ngSwitchCase="'awl'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="awlpage" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getAWLWordList(awlpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'stem'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="stempage" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getSTEMWordList(awlpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'hi'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="hipage" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getHIWordList(hipage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'med'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="medpage" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getMedWordList(medpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div *ngSwitchCase="'low'">
            <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="lowpage" [maxSize]="4" [rotate]="true"
                            [ellipses]="false" (pageChange)="getLowWordList(lowpage)" [boundaryLinks]="true"></ngb-pagination>
        </div>
        <hr class="bottomMarging">

        <!--Page Size-->
        <div class="btn-group col-md-4 float-right" ngbRadioGroup name="radioBasic" [(ngModel)]="tableSize">
            <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" [value]="20" (click)="getWordList(0, activeCategory, 20, sort);resetPagination()"> 20
            </label>
            <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" value="60" (click)="getWordList(0, activeCategory, 60, sort);resetPagination()"> 60
            </label>
            <label ngbButtonLabel class="btn-secondary dark-mode">
                <input ngbButton type="radio" [value]="2000" (click)="getWordList(0, activeCategory, 2000, sort);resetPagination()"> ALL
            </label>
        </div>

        <!--Sorting-->
        <div class="btn-group col-md-4" ngbRadioGroup name="radioBasic" [(ngModel)]="sorting">
            <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" [value]="ASC" (click)="getWordList(0, activeCategory, tableSize, 'ASC' );resetPagination()"> ASC
            </label>
            <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" value="DESC" (click)="getWordList(0, activeCategory, tableSize, 'DESC');resetPagination()"> DESC
            </label>
        </div>

        <div class="col-md-4" style="margin:0 auto;">
            <p>
                <strong>page: {{page.number + 1}} / {{page.totalPages}}</strong>
            </p>
        </div>
        <hr class="topMarging">
    </div>
</div>

