.center {
    margin: auto;
    width: 50%;
  }
h5{
    text-align: center;
    font-weight: bold;
}
.topMargin{
    margin-top: 25px;
}

.box1{
    background-color: #FF7919;
    min-height: 150px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    text-align: center;
    padding-top: 35px;
    border-radius: 8px;

}

.box2{
    background-color: #74D941;
    min-height: 150px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    text-align: center;
    padding-top: 35px;
    border-radius: 8px;
}

.box3{
    background-color: #3D99F5;
    min-height: 150px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    color: white;
    text-align: center;
    padding-top: 35px;
    border: 2px solid;
    border-radius: 8px;
}

h2{
    display: block;
}




